@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300,200);

body {
    padding: 0;
    padding-top: 50px;
    margin: 0;
}

html, body, #map  {
}

#map {
    1000px;
}

label {
    font-weight: normal;
}

#sidebar {
    background: #0E0E0E;
}

.navbar .navbar-brand {
    color: white;
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
}
.leaflet-popup-content {
    margin: 14px 20px 0;
}
a.toggle {
    background-color: #222;
    border-radius: 0 4px 4px 0 !important;
    bottom: 0;
    color: white;
    display: block;
    left: 0;
    opacity: 0.8;
    position: fixed;
    z-index: 100;
}
a.toggle:hover {
    background-color: #222;
    color: white;
    opacity: 1;
}

* {
    font-family: 'Raleway', sans-serif;
}

.tweet-item {
    height: 25px;
    background-color: #0E0E0E;
    border-left: 5px solid #333;
}

.tweet-item img {
    height: 25px;
    width: 25px;
    opacity: 0.75;
}
    
.tweet-item .text {
    position: relative;
    top: -8px;
    font-size: 12px;
}

.negative {
    border-color: red;
}

.positive {
    border-color: green;
}

/* D3.js Ping element styles */

circle.ping {
     stroke: #222;
     fill: yellow;
}

circle.green {
    stroke: #000;
    stroke-width: 1px;
    fill: green;
}

circle.red {
    stroke: #000;
    stroke-width: 1px;
    fill: red;
}

circle.gray {
    stroke: #000;
    stroke-width: 1px;
    fill: grey;
}
