@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300,200);

* {
    font-family: 'Raleway', sans-serif;
}

html, body, #container{
    height: 100%;
    width: 100%;
    margin 0;
}

body {
    padding-top: 50px;   
}

label {
    font-weight: normal;
}

#sidebar {
    background: #0E0E0E;
    height: 100%;
    width: 40%;
    max-width: 40%;
    float: left;
     -webkit-transition: all 0.25s ease-out;
       -moz-transition: all 0.25s ease-out;
       transition: all 0.25s ease-out;
}

#map {
    width: auto;
    height: 100%;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
    margin-right: 15px;
}

.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}

.navbar-header a.navbar-icon {
    margin-left: 25px;
}

a.toggle {
    background-color: #222;
    border-radius: 0 4px 4px 0 !important;
    bottom: 0;
    color: white;
    display: block;
    left: 0;
    opacity: 0.8;
    position: fixed;
    z-index: 100;
}

a.toggle:hover {
    background-color: #222;
    color: white;
    opacity: 1;
}


.tweet-item {
    height: 25px;
    background-color: #0E0E0E;
    border-left: 5px solid #333;
}

.tweet-item img {
    height: 25px;
    width: 25px;
    opacity: 0.75;
}
    
.tweet-item .text {
    position: relative;
    top: -8px;
    font-size: 12px;
}

.negative {
    border-color: red;
}

.positive {
    border-color: green;
}

/* D3.js Ping element styles */

circle.ping {
     stroke: #222;
     fill: yellow;
}

circle.green {
    stroke: #000;
    stroke-width: 1px;
    fill: green;
}

circle.red {
    stroke: #000;
    stroke-width: 1px;
    fill: red;
}

circle.gray {
    stroke: #000;
    stroke-width: 1px;
    fill: grey;
}
