/* General */
body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}




/* Ping classes */

circle.ping {
    stroke: #222;
    fill: yellow;
}

circle.green {
    stroke: #000;
    stroke-width: 1px;
    fill: green;
}

circle.red {
    stroke: #000;
    stroke-width: 1px;
    fill: red;
}

circle.gray {
    stroke: #000;
    stroke-width: 1px;
    fill: grey;
}


