<!doctype html>


<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Basic Viz</title>
  <meta name="description" content="Basic viz.">
  <meta name="author" content="Jared M. Smith">

  <link rel="stylesheet" href="{{ viz_css }}?v=1.0">  
  <link rel="stylesheet" href="{{ leaflet_css }}" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div id="map"></div>

    <script src="{{ leaflet_js }}"></script>
    <script src="{{ d3_js  }}" charset="utf-8"></script>
    <script src="{{ leaflet_d3 }}" charset="utf-8"></script>
    <script src="{{ sock_js }}" charset="utf-8"></script>
    <script src="{{ stomp_js }}" charset="utf-8"></script>

    <script>

        // Define the center of the map.
        var center = [35.97, -83.94];

        // Get the basemap 'Dark Matter' from CartoDB and create the basemap layer.
        var basemapLayer = L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png',{
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });

        // Create the map object.
        var map = L.map('map', {
            layers: [basemapLayer],
            scrollWheelZoom: true,
            center: new L.LatLng(center[0], center[1]),
            zoom: 6
        });

        // Configure a ping layer.
        var options = {
            lng: function(d){ return d[0]; },
            lat: function(d){ return d[1]; },
            duration: 800,
            efficient: {
                enabled: false,
                fps: 8
            }
        };

        // Create the ping layer and add it to the map.
        var pingLayer = L.pingLayer(options).addTo(map);

        // Change the radius and the opacity of the ping marker.
        pingLayer.radiusScale().range([2, 18]);
        pingLayer.opacityScale().range([1, 0]);

        // Establish a web socket connection through the STOMP protocol so that we can get data
        // from the Flask server.
        var ws = new SockJS('http://' + window.location.hostname + ':15674/stomp');
        var client = Stomp.over(ws);
        
        // Disable heartbeat functionality as it is not supported by this STOMP setup.
        client.heartbeat.incoming = 0;
        client.heartbeat.outgoing = 0;

        // Called on error.
        var on_error = function(error) {
            console.log('error');
        };

        // Called when a message is recieved from the queue.
        var recv_message = function(message) {
            var jsonData = JSON.parse(message.body);
            pingLayer.ping([jsonData.lon, jsonData.lat], jsonData.color);
        };
        
        // Called when a connection is made to the web socket.
        var on_connect = function() {
            var subscription = client.subscribe("/amq/queue/twitter_sentiment_feed", recv_message); 
        };

        // Establish a connection with the broker.
        client.connect('guest', 'guest',  on_connect, on_error, '/');
    </script>
</body>
